.btn-primary {
  background-color: #283593 !important;
}

.btn-transparent {
  background-color: #bdbdbd !important;
}

.subtext {
  color: #bdbdbd;
  font-weight: 300 !important;
  font-style: italic !important;
  font-size: 25px !important;
}
