<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <div class="card-header card-header-warning">
          <p class="card-category" style="font-weight: 800">Configuraçao da revenda {{license}} - {{ name}}</p>
        </div>
        <div class="card-body">
          <mat-horizontal-stepper labelPosition="bottom" #stepper>
            <mat-step [stepControl]="formulario.get('api')">
              <form [formGroup]="formulario.get('api')">
                <ng-template matStepLabel>Configuração api portal</ng-template>
                <div class="form-row">
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">Porta</label>
                    <input type="text" class="form-control no-border" formControlName="port" placeholder="ex: 9000">
                    <app-error-field [control]="formulario.get('api').get('port')" label="porta"></app-error-field>
                  </div>
                </div>
                <div class="row" style="margin-top: 50px; ">
                  <div class="col-sm-12">
                    <div>
                      <button mat-button matStepperNext class="btn btn-primary">Próximo</button>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="formulario.get('web')">
              <form [formGroup]="formulario.get('web')">
                <ng-template matStepLabel>Configuração portal web</ng-template>
                <div class="form-row">
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">Portal</label>
                    <input type="text" class="form-control no-border" formControlName="port" placeholder="ex: 80">
                    <app-error-field [control]="formulario.get('web').get('port')" label="porta"></app-error-field>
                  </div>
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">host</label>
                    <input type="text" class="form-control no-border" formControlName="host"
                      placeholder="ex: linkedby.com.br">
                    <app-error-field [control]="formulario.get('web').get('host')" label="host"></app-error-field>
                  </div>
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">hostApi</label>
                    <input type="text" class="form-control no-border" formControlName="hostApi"
                      placeholder="ex: linkedby.com.br/api">
                    <app-error-field [control]="formulario.get('web').get('hostApi')" label="hostApi"></app-error-field>
                  </div>
                </div>
                <div>
                  <div class="row" style="margin-top: 50px; ">
                    <div class="col-sm-12">
                      <div>
                        <button mat-button matStepperPrevious class="btn btn-transparent">Voltar</button>
                        <button mat-button matStepperNext class="btn btn-primary">Próximo</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="formulario.get('fila')">
              <form [formGroup]="formulario.get('fila')">
                <ng-template matStepLabel>Configuração Fila</ng-template>
                <div class="form-row">
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control no-border" formControlName="username"
                      placeholder="ex: admin">
                    <app-error-field [control]="formulario.get('fila').get('username')" label="Username">
                    </app-error-field>
                  </div>
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control no-border" formControlName="password"
                      placeholder="ex: admin">
                    <app-error-field [control]="formulario.get('fila').get('password')" label="Password">
                    </app-error-field>
                  </div>
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">Porta web</label>
                    <input type="text" class="form-control no-border" formControlName="portPainel"
                      placeholder="ex: 8161">
                    <app-error-field [control]="formulario.get('fila').get('portPainel')" label="Porta web">
                    </app-error-field>
                  </div>
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">Porta Tcp</label>
                    <input type="text" class="form-control no-border" formControlName="portTcp" placeholder="ex: 61616">
                    <app-error-field [control]="formulario.get('fila').get('portTcp')" label="Porta Tcp">
                    </app-error-field>
                  </div>
                </div>
                <div>
                  <div class="row" style="margin-top: 50px; ">
                    <div class="col-sm-12">
                      <div>
                        <button mat-button matStepperPrevious class="btn btn-transparent">Voltar</button>
                        <button mat-button matStepperNext class="btn btn-primary">Próximo</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="formulario.get('database')">
              <form [formGroup]="formulario.get('database')">
                <ng-template matStepLabel>Configuração Database</ng-template>
                <div class="form-row">
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">Url</label>
                    <input type="text" class="form-control no-border" formControlName="url">
                  </div>
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control no-border" formControlName="username"
                      placeholder="ex: admin">
                    <app-error-field [control]="formulario.get('database').get('username')" label="Username">
                    </app-error-field>
                  </div>
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control no-border" formControlName="password"
                      placeholder="ex: admin">
                    <app-error-field [control]="formulario.get('database').get('password')" label="Password">
                    </app-error-field>
                  </div>
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">Nome Tabela</label>
                    <input type="text" class="form-control no-border" formControlName="tablenName"
                      placeholder="ex: admin-9999">
                    <app-error-field [control]="formulario.get('database').get('tablenName')" label="Nome Tabela">
                    </app-error-field>
                  </div>
                  <div class="col-sm-12 col-md-6 form-group">
                    <label for="exampleInputEmail1">Porta</label>
                    <input type="text" class="form-control no-border" formControlName="port" placeholder="ex: 5432">
                    <app-error-field [control]="formulario.get('database').get('port')" label="Porta">
                    </app-error-field>
                  </div>
                </div>
                <div>
                  <div class="row" style="margin-top: 50px; ">
                    <div class="col-sm-12">
                      <div>
                        <button mat-button matStepperPrevious class="btn btn-transparent">Voltar</button>
                        <button mat-button matStepperNext class="btn btn-primary">Próximo</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <div class="container">
                <div class="row">
                  <div class="col" style="text-align: center; margin-top: 25px; margin-bottom: 25px">
                    <h2>Cadastro Finalizado!</h2>
                    <button mat-button (click)="onSubmit()" class="btn btn-success">Finalizar</button>
                    <button mat-button (click)="stepper.reset()" class="btn btn-info">Resetar</button>
                  </div>
                </div>
              </div>
              <div>
                <button mat-button matStepperPrevious class="btn btn-transparent">Voltar</button>
                <button mat-button (click)="close()" class="btn btn-info">Sair</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>

        </div>
      </div>
    </div>

  </div>
</div>
